body {
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    color: rgb(55, 53, 47);
}
section {
    padding: 50px;
    width: 70%;
    margin: auto;
}
@media screen and (max-width: 800px) {
    section {
        width: 80%;
    }
}
.column-list {
    display: flex;
    justify-content: space-evenly;
}
a {
    color: inherit;
}
.tag {
    display: inline-block;
    padding: 0 0.5em;
    border-radius: 3px;
    margin: 0.3em 0.2em;
    white-space: nowrap;
}

.navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}
.navigation-bar li {
    font-weight: 500;
    font-size: 1.2rem;
    display: inline-block;
    padding: 0.75em 1em;
    margin: 0 0 10px 0;
    background-color: rgb(235, 236, 237);
}
.navigation-bar li:hover {
    background-color: rgba(235, 236, 237, 0.3);
    transition: 0.3s;
}

.centered {
    text-align: center;
}
.extra-padding {
    padding: 1rem;
}
.project-picture {
    /* width: auto;
    height: 300px;*/
    max-width: 95%;
    padding: 5px;
    border: 1px solid #ddd;
    /* margin: 5px; */
    object-fit: contain;
}
.section-title {
    font-size: 2rem;
    text-align: center;
}

.project-card-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
}
.project-card {
    border: 1px solid rgba(177, 177, 177, 0.5);
    box-shadow: 7px 7px 10px rgba(177, 177, 177, 0.7);
    margin: 20px 5px;
    width: 40%;
    min-width: 300px;
    text-decoration: none;
    transition: 0.3s;
    min-height: 400px;
}
@media screen and (max-width: 800px) {
    .project-card {
        min-height: 600px;
    }
}
.project-card-title {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
}
.project-card:hover {
    margin-top: 0px;
    margin-bottom: 40px;
    transition: 0.3s;
}
.project-body {
    padding: 40px;
    width: 80%;
}
.project-card-image {
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 50%;
}
.project-card-information {
    position: relative;
    padding: 15px;
    left: 0;
    bottom: 0;
}

/* Background color styles */
.pink-background {
    background-color: rgba(221, 0, 129, 0.2);
}
.gray-background {
    background-color: rgba(155, 154, 151, 0.4);
}
.brown-background {
    background-color: rgba(140, 46, 0, 0.2);
}
.orange-background {
    background-color: rgba(245, 93, 0, 0.2);
}
.yellow-background {
    background-color: rgba(233, 168, 0, 0.2);
}
.green-background {
    background-color: rgba(0, 135, 107, 0.2);
}
.blue-background {
    background-color: rgba(0, 120, 223, 0.2);
}
.purple-background {
    background-color: rgba(103, 36, 222, 0.2);
}
.red-background {
    background-color: rgba(255, 0, 26, 0.2);
}
.light-gray-background {
    background-color: rgb(235, 236, 237);
}